* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gergia", sans-serif;
}

body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(111, 104, 104);
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-image: url("/images/navbackground.jpeg");
}

.header {
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
}

.menu {
  width: 150px;
  height: 100px;
  border: 2px solid rgb(43, 200, 85);
  font-size: large;
  font-weight: 700;
}

#container {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  max-width: 700px;
  max-height: 700px;
  width: 500px;
  height: 500px;
}
